<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Fashion shop</title>
    <link rel="stylesheet" href="https://flask-plasma1.s3.jp-tok.cloud-object-storage.appdomain.cloud/index.css">
<!--    <style>-->
<!--        body{-->
<!--            background-color: aqua;-->
<!--            display: flex;-->
<!--            align-items: center;-->
<!--            justify-content: center;-->
<!--            flex-direction: column;-->
<!--        }-->
<!--        img{-->
<!--            height: 240px;-->
<!--            border-radius: 10px;-->
<!--            margin: 10px;-->
<!--        }-->
<!--    </style>-->
</head>
<body>
    <h1>Welcome to Image Gallery</h1>
    <div>
        <img src="https://classnutrition.s3.jp-tok.cloud-object-storage.appdomain.cloud/WhatsApp%20Image%202022-10-30%20at%2019.36.38.jpg" alt="dress" srcset="">
        <img src="https://classnutrition.s3.jp-tok.cloud-object-storage.appdomain.cloud/WhatsApp%20Image%202022-10-30%20at%2019.36.40.jpg" alt="dress" srcset="">
        <img src="https://classnutrition.s3.jp-tok.cloud-object-storage.appdomain.cloud/WhatsApp%20Image%202022-10-30%20at%2019.36.401.jpg" alt="dress" srcset="">
        <img src="https://classnutrition.s3.jp-tok.cloud-object-storage.appdomain.cloud/WhatsApp%20Image%202022-10-30%20at%2019.36.402.jpg" alt="dress" srcset="">
        <img src="https://classnutrition.s3.jp-tok.cloud-object-storage.appdomain.cloud/WhatsApp%20Image%202022-10-30%20at%2019.36.403.jpg" alt="dress" srcset="">
    </div>
<script>
  window.watsonAssistantChatOptions = {
    integrationID: "3a3031a0-6417-4ea1-8d7f-aa027a707ff4", // The ID of this integration.
    region: "jp-tok", // The region your integration is hosted in.
    serviceInstanceID: "83cc55ca-5fdb-4ffd-b11a-cebe2fab5f4d", // The ID of your service instance.
    onLoad: function(instance) { instance.render(); }
  };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
</script>

</body>
</html>